version: 2

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      # https://blog.yossarian.net/2025/11/21/We-should-all-be-using-dependency-cooldowns
      default-days: 7
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
