{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.rst
{% endif -%}
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst


recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * [.]mypy_cache
recursive-exclude * [.]ipynb_checkpoints


recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
