{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.rst
{% endif -%}
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst



recursive-include tests *.py

global-exclude *.py[co]
prune */*.egg-info
prune */*mypy_cache
prune */*ipynb_checkpoints
prune */__pycache__

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
