{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.md
{% endif -%}
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md



recursive-include tests *.py

global-exclude *.py[co]
prune */*.egg-info
prune */*mypy_cache
prune */*ipynb_checkpoints
prune */__pycache__

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
