name: "PR Labeler"

on: # zizmor: ignore[dangerous-triggers]
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        id: label-pr

      - name: Labeler info
        env:
          ALL_LABELS: ${{ steps.label-pr.outputs.all-labels }}
          NEW_LABELS: ${{ steps.label-pr.outputs.new-labels }}
        shell: bash
        run: |
          echo "new labels: $NEW_LABELS"
          echo "all labels: $ALL_LABELS"
