name: Publish
on:
  workflow_dispatch:
  release:
    types: [published]

env:
  FORCE_COLOR: "3"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    permissions:
      contents: write
    uses: ./.github/workflows/reusable-docs.yml
